.our-culture-section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.culture-header {
  text-align: center;
  margin-bottom: 40px;
}

.culture-subtitle {
    display: none;
  color:black;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.culture-title {
  font-size: 36px;
  font-weight: 800;
}

.culture-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.culture-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.culture-card:hover {
  transform: translateY(-5px);
}

.culture-icon {
  font-size: 32px;
  margin-bottom: 16px;
}
